In [1]:
from powernad.API.Campaign import *

In [2]:
NAVER_SECRET_KEY = 'AQAAAABZZNcmQnJhsoPKPB+OVnz+yKMx8Mk5JTgbo9VG/XAJEA=='
NAVER_API_KEY = '01000000005964d726427261b283ca3c1f8e567cfeff6fee2fb0c3e7915c994f165a35bfbe'
CUSTOMER_ID = '910516'
NAVER_BASE_URL = 'https://api.naver.com'

In [3]:
c=Campaign(NAVER_BASE_URL, NAVER_API_KEY, NAVER_SECRET_KEY, CUSTOMER_ID)
c.get_campaign_list()

[<powernad.Object.Campaign.CampaignObject.CampaignObject at 0x221e7e93eb0>,
 <powernad.Object.Campaign.CampaignObject.CampaignObject at 0x221e7e517f0>,
 <powernad.Object.Campaign.CampaignObject.CampaignObject at 0x221e7b5cb50>,
 <powernad.Object.Campaign.CampaignObject.CampaignObject at 0x221e7b5cbb0>]

In [4]:
from powernad.API.RelKwdStat import *

In [5]:
rel = RelKwdStat(NAVER_BASE_URL, NAVER_API_KEY, NAVER_SECRET_KEY, CUSTOMER_ID)

In [8]:
searchword = '후드롱코트'

kwdDataList = rel.get_rel_kwd_stat_list(siteId=None, biztpId=None, hintKeywords=searchword, event=None, month=None, showDetail='1')

kwd_result = (kwdDataList[0].relKeyword, #연관키워드
    kwdDataList[0].monthlyPcQcCnt, #30일간 PC 조회수
    kwdDataList[0].monthlyMobileQcCnt, #30일간 모바일 조회수
    kwdDataList[0].monthlyAvePcClkCnt, #30일간 평균 PC 클릭수
    kwdDataList[0].monthlyAveMobileClkCnt, #30일간 평균 모바일 클릭수
    kwdDataList[0].monthlyAvePcCtr, #30일간 평균 PC 클릭율
    kwdDataList[0].monthlyAveMobileCtr, #30일간 평균 모바일 클릭율
    kwdDataList[0].plAvgDepth, #30일간 평균 PC 광고 수
    kwdDataList[0].compIdx #PC 광고 기반 경쟁력
    )

print(kwd_result)

('후드롱코트', '< 10', 30, 0.1, 0.0, 0.96, 0.0, 15, '높음')

In [9]:
import pandas as pd

#df = pd.DataFrame(columns=['연관키워드', '30일간 PC 조회수', '30일간 모바일 조회수', '30일간 평균 PC 클릭수', '30일간 평균 모바일 클릭수', 
#    '30일간 평균 PC 클릭율', '30일간 평균 모바일 클릭율', '30일간 평균 PC 광고 수', 'PC 광고 기반 경쟁력'])


df = pd.DataFrame(
    columns=['연관키워드', '30일간 PC 조회수', '30일간 모바일 조회수', '30일간 평균 PC 클릭수', '30일간 평균 모바일 클릭수', 
        '30일간 평균 PC 클릭율', '30일간 평균 모바일 클릭율', '30일간 평균 PC 광고 수', 'PC 광고 기반 경쟁력']
    )


for i in range(len(kwdDataList)) :
    df.loc[i] = [kwdDataList[i].relKeyword, kwdDataList[i].monthlyPcQcCnt, kwdDataList[i].monthlyMobileQcCnt, kwdDataList[i].monthlyAvePcClkCnt,
        kwdDataList[i].monthlyAveMobileClkCnt, kwdDataList[i].monthlyAvePcCtr, kwdDataList[i].monthlyAveMobileCtr, kwdDataList[i].plAvgDepth, kwdDataList[i].compIdx]

df.head()

,연관키워드,30일간 PC 조회수,30일간 모바일 조회수,30일간 평균 PC 클릭수,30일간 평균 모바일 클릭수,30일간 평균 PC 클릭율,30일간 평균 모바일 클릭율,30일간 평균 PC 광고 수,PC 광고 기반 경쟁력
0,후드롱코트,< 10,30,0.1,0.0,0.96,0.00,15,높음
1,핸드메이드코트,330,4710,1.7,4.0,0.51,0.10,15,높음
2,여성빅사이즈코트,< 10,< 10,0.0,0.0,0.00,0.00,15,높음
3,캐시미어코트,220,1590,0.1,0.7,0.04,0.05,15,높음
4,힐크릭여성골프웨어,670,13500,8.6,194.8,1.33,1.60,15,높음

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 548 entries, 0 to 547
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   연관키워드            548 non-null    object
 1   30일간 PC 조회수      548 non-null    object
 2   30일간 모바일 조회수     548 non-null    object
 3   30일간 평균 PC 클릭수   548 non-null    float64
 4   30일간 평균 모바일 클릭수  548 non-null    float64
 5   30일간 평균 PC 클릭율   548 non-null    float64
 6   30일간 평균 모바일 클릭율  548 non-null    float64
 7   30일간 평균 PC 광고 수  548 non-null    object
 8   PC 광고 기반 경쟁력     548 non-null    object
dtypes: float64(4), object(5)
memory usage: 42.8+ KB

In [50]:
df.describe()

       30일간 평균 PC 클릭수  30일간 평균 모바일 클릭수  30일간 평균 PC 클릭율  30일간 평균 모바일 클릭율
count      548.000000       548.000000      548.000000       548.000000
mean         0.823358        17.610036        0.497536         1.027245
std          3.139511        56.163049        1.034813         1.091517
min          0.000000         0.000000        0.000000         0.000000
25%          0.000000         0.000000        0.000000         0.000000
50%          0.100000         1.800000        0.200000         0.805000
75%          0.600000         9.300000        0.560000         1.580000
max         49.500000       679.300000       11.120000         5.530000